<h1>分类操作:修改</h1>

<% form_for([:admin,@catalog]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sort_name %> 分类名称<br />
    <%= f.text_field :sort_name %>
  </p>
  <p>
    <%= f.label :remark %> 备注<br />
    <%= f.text_area :remark %>
  </p>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '继续添加关键词', [:admin,@catalog] %> |
<%= link_to '返回首页', admin_catalogs_path %>