<div id="bd">
    <div class="t6 mod">
        <div class="main">
        	<!--si start-->
        	<div class="si">
            	<div class="mod ti"><span><a href="#"><%=h @itemcontent.title %></a></span><p><a href="#"><%=h @itemcontent.title %>以及相关知识</a></p></div>
                <div class="mod mt rec gr">
                	<div class="hd"><span><a href="#">专家讲述</a></span></div>
                    <div class="mod pd bd">
                    	<div class="mf-pt">
                        	<div class="mf-p"><span><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic32.jpg"></a></span><p>赵禹翔</p></div>
                            <div class="mf-t">　　<%=h @itemcontent.tell_of %></div>
                        </div>
                      
                    </div>
                </div>
                <div class="mod mt box">
                	<div class="hd"><a href="#">相关手术</a><span>Related Surgery</span></div>
                    <div class="pd bd">
                    	<span><a href="#" class="last">鼻尖整形</a><a href="#">鼻头鼻翼</a></span>
                        <span><a href="#" class="last">鼻尖整形</a><a href="#">鼻头鼻翼</a></span>
                    </div>
                </div>
                <div class="fast mt white">
                    <div class="title"><span><a href="#">快速导航</a></span></div>
                    <!-- Qmenu start -->
				  <div class="mod fast-nav">

				                        	<div class="vb">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/longbi"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast1.jpg"></span>

				                                <span class="txt"><span>鼻部整形</span><p>The nasal</p></span></a>

				                            </div>

				                            <div class="vb">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/xiahejiao"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast5.jpg"></span>

				                                <span class="txt"><span>下颌角</span><p>To face</p></span></a>

				                            </div>

				                        </div>

				                        <div class="mod fast-nav">

				                        	<div class="vb">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/qingchunhuanyanshu"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast2.jpg"></span>

				                                <span class="txt"><span>除皱美容</span><p>Except knit</p></span></a>

				                            </div>

				                            <div class="vb">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/360rongzhi"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast6.jpg"></span>

				                                <span class="txt"><span>吸脂瘦身</span><p>Liposuction</p></span></a>

				                            </div>

				                        </div>

				                        <div class="mod fast-nav">

				                        	<div class="vb">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/jiatilongxiong"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast3.jpg"></span>

				                                <span class="txt"><span>胸部整形</span><p>Chest</p></span></a>

				                            </div>

				                            <div class="vb">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/chongjian"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast7.jpg"></span>

				                                <span class="txt"><span>双眼皮</span><p>Doubleeye</p></span></a>

				                            </div>

				                        </div>

				                        <div class="mod fast-nav">

				                            <div class="vb vbw2">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/zhushechuzhou"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast8.jpg"></span>

				                                <span class="txt"><span>注射美容</span><p>Injection</p></span></a>

				                            </div>

				                            <div class="vb vbw1">

				                            	<a href="http://zhengxing.999zg.net.cn/zhengxing/quyandai"><span class="pic"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/fast4.jpg"></span>

				                                <span class="txt"><span>祛眼袋</span><p>Removepouch</p></span></a>

				                            </div>

				                        </div>


<!--Qmenu end -->
                </div>
                <div class="rec gr mt ga">
                <div class="hd"><span><a href="#">延伸阅读</a></span></div>
                <div class="mod mt pt2">
                	<div class="pic"><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic35.jpg"></a></div>
                    <div class="txt"><span><a href="#">我的瘦小腿日记</a></span>我的痩小腿日记小腿日记我的痩我的痩小腿日记我的痩我的小…   <a href="#">【查看详情】</a></div>
                </div>
                <div class="list2">
                	<ul>
                    	<li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                        <li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                        <li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                        <li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                        <li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                        <li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                        <li><a href="#">抽脂隆胸减肥瘦身有什么优势</a></li>
                    </ul>
                </div>
            </div>
                
            </div>
        <!--si end-->
        </div>
        <!--co start-->
        <div class="co2">
        	<div class="mod gr">
            	<div class="mod hd">
                    <div class="hdl"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic36.jpg"></div>
                    <div class="hdc"><%=h @itemcontent.title %></div>
                    <div class="hdl"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic37.jpg"></div>
                </div>
                <div class="mod bd">
                	<div class="mod bdtop">
                    	<div class="txt"><span>摘要：</span><%= @itemcontent.summary %></div>
                        <div class="mf-pl gr green">
                        	<div class="hd"><span><a href="#">手术小贴士</a></span></div>
                        	<div class="bd">
                            	<a href="#">1.隆鼻如何保证最自然的效果</a>
								                            	<a href="#">2.假体隆鼻材料选择需慎重</a>
								                            	<a href="#">3.隆鼻术注意事项有哪些？</a>
								                            	<a href="#">4.你比明星只差几毫米</a>
								                            	<a href="#">5.隆鼻手术原来如此简单</a>
                            </div>
                        </div>
                    </div>
                    <div class="mt conenter">
<%= unless @itemcontent.body.blank? then RedCloth.new(@itemcontent.body).to_html end%>
</div>
                    <div class="mt next">
	<p>创建于:<%=h @itemcontent.created_at.to_s %> 点击<%=h @itemcontent.click_counts %></p>
	</div>
                </div>
            </div>
        </div>
        <!--co end-->	
    </div>
  </div>