<p>
  <b>Name:</b>
  <%=h @expert.name %>
</p>

<p>
  <b>Job:</b>
  <%=h @expert.job %>
</p>

<p>
  <b>Qq:</b>
  <%=h @expert.qq %>
</p>

<p>
  <b>Email:</b>
  <%=h @expert.email %>
</p>

<p>
  <b>Thumbnail:</b>
  <%=h @expert.thumbnail %>
</p>

<p>
  <b>Smallphoto:</b>
  <%=h @expert.smallphoto %>
</p>

<p>
  <b>Middlephoto:</b>
  <%=h @expert.middlephoto %>
</p>

<p>
  <b>Largephoto:</b>
  <%=h @expert.largephoto %>
</p>

<p>
  <b>Record:</b>
  <%=h @expert.record %>
</p>

<p>
  <b>Content url:</b>
  <%=h @expert.content_url %>
</p>

<p>
  <b>User:</b>
  <%=h @expert.user_id %>
</p>


<%= link_to 'Edit', edit_expert_path(@expert) %> |
<%= link_to 'Back', experts_path %>